{% extends 'template.html' %}
    {% block title%}Mi pagina en Django{% endblock%}
</head>

    {% block content %}
    <div class="container" style="background-color: #aaa">
        <h1 class="text-center">Mi Libreria</h1>
        <p class="text-center lead">Un pequeño ejemplo con Django.</p>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary"><a href="search/">Consulta</a></button>
            </div>
            <div class="col">
                <button class="btn"><a href="contact/">Contacto</a></button>
            </div>
        </div>
    </div>
    {% endblock %}
